<div layout="column">

    <md-radio-group ng-model="placeTypeForSearch">
        <md-radio-button ng-repeat="type in supported_place_types" value="{{type}}">{{type}}</md-radio-button>
    </md-radio-group>

    <md-button ng-click="test()" class="md-raised">Tartu - Tallin</md-button>
    <md-button ng-click="calculateAndDisplayRoute()" class="md-raised">Search Places Along</md-button>
    Distance {{distance}} km.
</div>
<div class="flex-container">
    <div class="flex-item menu">
        <md-list  class="repeater-container">
            <md-list-item class="md-2-line" ng-repeat="place in foundPlaces"
                          ng-mouseover="place.denotionMarker.setVisible(true)"
                          ng-mouseleave="place.denotionMarker.setVisible(false)">
                <div class="md-list-item-text">
                    <h3><a href="{{place.url}}">{{$index + 1}} {{place.name}}</a></h3>
                    <p>{{place.types.join()}}</p>
                    <p>{{place.formatted_address}}</p>
                    <img ng-src="{{place.photos[0].getUrl({'maxWidth': 200, 'maxHeight': 200})}}">
                </div>
            </md-list-item>
        </md-list>
    </div>
    <ng-map class="flex-item" default-style="false">
        <drawing-manager
                on-markercomplete="markerDrawed()"
                drawing-control-options="{position: 'TOP_CENTER',drawingModes:['marker']}"
                drawingControl="true"
                drawingMode="null">
        </drawing-manager>
    </ng-map>
</div>