<div layout="column">

    <md-radio-group ng-model="placeTypeForSearch">
        <md-radio-button ng-repeat="type in supported_place_types" value="{{type}}">{{type}}</md-radio-button>
    </md-radio-group>

    <md-button ng-click="test()" class="md-raised">Тарту - Таллин</md-button>
    <md-button ng-click="buildRoute()" class="md-raised">Построить маршрут</md-button>
    <md-button ng-click="findPlacesAlongRoute()" class="md-raised">Искать места вдлоь маршрута</md-button>
    Distance {{distance}} km.
</div>
<div class="flex-container">
    <div class="flex-item menu">
        <md-list class="repeater-container">
            <md-list-item class="md-2-line" ng-repeat="place in foundPlaces"
                          ng-mouseover="place.marker.setAnimation(google.maps.Animation.BOUNCE)"
                          ng-mouseleave="place.marker.setAnimation(null)">
                <div class="md-list-item-text">
                    <h3><a href="{{place.url}}">{{$index + 1}} {{place.name}}</a></h3>
                    <p>{{place.types.join()}}</p>
                    <p>{{place.formatted_address}}</p>
                    <img ng-src="{{place.photos[0].getUrl({'maxWidth': 200, 'maxHeight': 200})}}">
                    <md-checkbox ng-click="visit(place)">Заехать</md-checkbox>
                </div>
            </md-list-item>
        </md-list>
    </div>
    <ng-map class="flex-item" default-style="false">
        <drawing-manager
                on-markercomplete="markerDrawed()"
                drawing-control-options="{position: 'TOP_CENTER',drawingModes:['marker']}"
                drawingControl="true">
        </drawing-manager>
    </ng-map>
</div>